@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  height: 100vh;
  font-family: "Cairo", sans-serif;
}
